<table class="heart" id="heart">
  <tbody>
  <tr>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
  </tr>
  <tr>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
  </tr>
  <tr>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
  </tr>
  <tr>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
  </tr>
  <tr>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
  </tr>
  <tr>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
  </tr>
  <tr>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
  </tr>
  <tr>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td [style.background-color]="heartColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
  </tr>
  <tr>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
    <td class="frame" [ngClass]="!(haveFrame$ | async) ? 'hidden' : ''" [style.background-color]="frameColor$ | async"></td>
  </tr>
  </tbody>
</table>


